.scene-wrapper {
  width: 100vw;
  height: 100vh;
  background: #34496a;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#webgl {
  width: 800px;
  height: 600px;
  position: absolute;
  z-index: -1;
}

.svg-box {
  width: 800px;
  height: 600px;
  position: absolute;
  z-index: 1;
}

.webgl2 {
  position: absolute;
  inset: 0;
  z-index: 2;
}
